extends layout

block content
  a(href="/login/") Login
  br
  a(href="/create/") Sign up
  br
  canvas(width=400, height=400, id="q1")
  br
  canvas(width=400, height=400, id="q2")
  br
  canvas(width=400, height=400, id="q3")
  script(src="scripts/graph.js")
  