doctype html
html
  head
  body
    nav 
      ul
        li
          a(href='/') Home
        li
          a(href='/details') Details
        li
          a(href='/login') Login
        li
          a(href='/create') Sign up
    div(id='content')
      block content
      
  footer